<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs" >
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index","Home")">Home</a>
        </li>
        <li class="active">@ViewBag.Title</li>
      
    </ul><!-- /.breadcrumb -->

   
</div>
