<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120">
                <span class="coloremu bolder">Eastmed</span>
                <span class="infobox-blue2"> CTMS</span> &copy; @DateTime.Now.Year
            </span>

            &nbsp; &nbsp;
            
        </div>
    </div>
</div>
