<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="AspNet.Mvc.Grid" version="1.0.1" targetFramework="net45" />
  <package id="Autofac" version="4.4.0" targetFramework="net45" />
  <package id="Autofac.Mvc5" version="4.0.1" targetFramework="net45" />
  <package id="CaptchaMvc.Mvc5" version="1.5.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="Grid.Mvc" version="3.0.0" targetFramework="net45" />
  <package id="jQuery" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebHelpers" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.8.3" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net45" />
  <package id="MySql.Web" version="6.9.9" targetFramework="net45" />
  <package id="MySqlBackup.NET" version="2.0.9.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.4" targetFramework="net45" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net45" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net45" />
  <package id="Quartz" version="2.5.0" targetFramework="net45" />
  <package id="Respond" version="1.4.2" targetFramework="net45" />
  <package id="SweetAlert" version="1.0.0" targetFramework="net45" />
  <package id="Twitter.Typeahead" version="0.10.5" targetFramework="net45" />
  <package id="Twitter.Typeahead.MVC" version="1.1.2" targetFramework="net45" />
  <package id="Twitter.Typeahead.MVC.Model" version="1.0.7" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.0.6" targetFramework="net45" />
  <package id="WebGrease" version="1.5.2" targetFramework="net45" />
</packages>